# Entorno virtual
.venv/
venv/
env/

# Variables de entorno (NO subir a GitHub)
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Archivos temporales
*.tmp
*.bak
